<html>
  <head>
    <title>Sunline</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>
  <body>
    <div id="nav">
      <a href="/" id="logo">Sunline</a>
      <a href="/about">About</a>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      <span>&copy;2021 Taylor Hornig</span>
    </div>
  </body>
</html>
